<h1>Showing chapter details</h1>

<p>
  <strong>Chapter Number:</strong>
  <%= @chapter.chapter_num %>
</p>
<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>
<p>
  <strong>Starts at:</strong>
  <%= @chapter.page_start_at %>
</p>